* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  justify-content: center;
}

body {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
}

.poly img {
  position: fixed;
  display: block;
  width: 30%;
  margin: auto;
  opacity: 0.8;
  border-radius: 50%;
  left: 35%;
  top: 25%;
  box-shadow: 0 10px 25px #d6d6d6;
}

.poly img:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.css-selector,
body {
  background: linear-gradient(314deg, #ff184c, #0a9cf5, #11e067, #ff6e27);
  background-size: 800% 800%;

  -webkit-animation: gradient 2s ease infinite;
  -moz-animation: gradient 2s ease infinite;
  animation: gradient 2s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 40% 0%;
  }
  50% {
    background-position: 61% 100%;
  }
  100% {
    background-position: 40% 0%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 40% 0%;
  }
  50% {
    background-position: 61% 100%;
  }
  100% {
    background-position: 40% 0%;
  }
}
@keyframes gradient {
  0% {
    background-position: 40% 0%;
  }
  50% {
    background-position: 61% 100%;
  }
  100% {
    background-position: 40% 0%;
  }
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.pads {
  display: flex;
  justify-content: space-between;
  margin: 20%;
  padding: 25px;
  flex-wrap: wrap;
  width: 100vw;
}

.pads > div {
  height: 10%;
  width: 5%;
  justify-items: space-between;
  border-radius: 0.5rem;
  background: linear-gradient(314deg, #ff6e27, #11e067, #ff184c, #0a9cf5);
  background-size: 800% 800%;
  border: solid rgba(255, 255, 255, 0.87) 4px;
  -webkit-animation: gradient 2s ease infinite;
  -moz-animation: gradient 2s ease infinite;
  animation: gradient 2s ease infinite;
  box-shadow: 0 10px 25px #d6d6d6;
}

.pads > div:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  transform: scale(110%);
  cursor: pointer;
}

.pad1 {
  position: fixed;
  /* background: #4d5057; */
  top: 20%;
  left: 35%;
  opacity: 0.7;
}
.pad2 {
  position: fixed;
  /* background: #4e6e5d; */
  top: 20%;
  right: 35%;
  opacity: 0.7;
}
.pad3 {
  /* background: #4da167; */
  position: fixed;
  top: 50%;
  left: 25%;
  opacity: 0.7;
}
.pad4 {
  /* background: #3bc14a; */
  position: fixed;
  top: 50%;
  right: 25%;
  opacity: 0.7;
}
.pad5 {
  /* background: #cfcfcf; */
  position: fixed;
  top: 80%;
  left: 35%;
  opacity: 0.7;
}
.pad6 {
  /* background: grey; */
  position: fixed;
  top: 80%;
  right: 35%;
  opacity: 0.7;
}

.pad7 {
  position: fixed;
  top: 47.5%;
  left: 47.5%;
  width: 30%;
  opacity: 0;
}

.pad7:hover {
  opacity: 0.4;
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}

@media screen and (max-width: 768px) {
  .pads > div {
    border-radius: 0.5rem;
    height: 10%;
    width: 15%;
  }

  .pad1,
  .pad3,
  .pad5 {
    left: 9%;
  }

  .pad2,
  .pad4,
  .pad6 {
    right: 9%;
  }

  .pad7 {
    top: 51%;
    left: 45%;
  }

  .poly img {
    position: fixed;
    top: 45%;
    transform: scale(1.5);
  }
} ;
